<header class="header-bg">
  <h1 class="conthon"><span><img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/6/67/Link.gif/revision/latest?cb=20090506153048" style="width: 50px;"></span>Con-A-Thon</h1>
  <nav class="logs">
    {{!-- <a href='/conventions/signup' class="menu">Signup</a> --}}
    {{!-- <a href='/conventions/login' class="menu">Login</a>
    <a href='/conventions/logout' class="menu">Logout</a>--}}
    <a href='/conventions/index' class="menu">Profile</a> 
  </nav>
  <p class="about" style="width: 600px;">Maximize Your Geek by Planning Out Your Cons!</p>
</header>


<div class="ten-container">
  <h2 class="ten-header">Top Ten Conventions</h2>
  {{!-- displays top ten conventions on home --}}
  <section class="ten">
    <ul>
      <h3>Anime</h3>
      {{#each animeCon}}
        <li><a class="button cons-list" href="#popup{{this.id}}">{{this.name}}</a></li>
        <div id="popup{{this.id}}" class="overlay">
            <div class="popup">
              <a class="close" href="#"></a>
              <ul class="content">
                <li>{{this.name}}</li>
                <li>{{this.date}}</li>
                <li>{{this.location}}</li>
                <li><a href="{{this.url}}">Visit their Website</a></li>
              </ul>
              <form method="GET" action="/conventions/index">
                <label for="{{this.id}}">
                  <input type="submit" value="Add Con to To-Go List">
                </label>
              </form>
            </div>
          </div>
      {{/each}}
    </ul>

    <ul>
      <h3>Comic</h3>
      {{#each comicCon}}
        <li><a class="button cons-list" href="#popup{{this.id}}">{{this.name}}</a></li>
          <div id="popup{{this.id}}" class="overlay">
            <div class="popup">
              <a class="close" href="#"></a>
              <ul class="content">
                <li>{{this.name}}</li>
                <li>{{this.date}}</li>
                <li>{{this.location}}</li>
                <li><a href="{{this.url}}">Visit their Website</a></li>
              </ul>
              <form method="GET" action="/convention/index">
                <label for="{{this.id}}">
                  <input type="submit" value="Add Con to To-Go List">
                </label>
              </form>
            </div>
          </div>
      {{/each}}
    </ul>

    <ul>
      <h3>Game</h3>
      {{#each gameCon}}
        <li><a class="button cons-list" href="#popup{{this.id}}">{{this.name}}</a></li>
        <div id="popup{{this.id}}" class="overlay">
            <div class="popup">
              <a class="close" href="#"></a>
              <ul class="content">
                <li>{{this.name}}</li>
                <li>{{this.date}}</li>
                <li>{{this.location}}</li>
                <li><a href="{{this.url}}">Visit their Website</a></li>
              </ul>
              <form method="GET" action="/convention/index">
                <label for="{{this.id}}">
                  <input type="submit" value="Add Con to To-Go List">
                </label>
              </form>
            </div>
          </div>  
      {{/each}}
    </ul>
  </section>
</div>

<footer>
  <p>Made by Nhi Nguyen | <a href="https://github.com/nnguy152">GitHub</a> | <a href="https://www.linkedin.com/in/nnguy152/">Linkedin</a></p>
</footer>