<div class="displayed">
<header class="header-bg">
  <h1 class="conthon"><span><img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/6/67/Link.gif/revision/latest?cb=20090506153048" style="width: 50px;"></span>Con-A-Thon</h1>
  <nav class="logs">

    <a class="nav-links" href='/conventions/signup'>Signup</a>
    <a class="nav-links" href='/conventions/login'>Login</a>
        <a class="nav-links" href='/conventions/index'><img src="/profile.png" style="width:35px;vertical-align: -10px;"></a> 

  </nav>
  <p class="about">Maximize Your Geek by Planning Out Your Cons!</p>
</header>

<div class="ten-container welcome" style="padding-bottom: 20px; background: rgb(53, 53, 53); color:white;">
  <section>
    <h1 class="ten-header" style="background: rgb(53,53,53); color:white;">Welcome to Con-A-Thon!</h1>
    <div class="line" style="background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 450, from(#F85B1A), to(#535353));"></div>
    <h4>No, this isn't for conning people. （•‿•）</h4>
    <p>This is a convention trip planning website. 
      We have a list of 30 popular anime, comic, and gaming conventions of 2018 around the USA
      if you don't know where to start.</p>
      <p>Otherwise, you can signup and start planning your trips! </p>
  </section>
</div>

<div class="ten-container" style="padding-top: 0;">
  <h2 class="ten-header">Top Ten Conventions</h2>
  <div class="line"></div>
  <section class="ten">
    <ul>
      <h3 class="ten-list-header">Anime</h3>
      <div class="mini-line"></div>
      {{#each animeCon}}
        <li><a class="button cons-list" href="#popup{{this.id}}">{{this.name}}</a></li>
        <div id="popup{{this.id}}" class="overlay">
            <div class="popup">
              <a class="close" href="#"></a>
              <ul class="content">
                <li><span>Name:</span> {{this.name}}</li>
                <li><span>When:</span> {{this.date}}</li>
                <iframe src="{{this.location}}" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                <li><a href="{{this.url}}">Visit their Website!</a></li>
              </ul>

              <form action="/conventions/index/{{this.id}}" method="POST">
                <input type="submit" value="Fave" class="buttons">
              </form>
            </div>
          </div>
      {{/each}}
    </ul>

    <ul>
      <h3 class="ten-list-header">Comic</h3>
      <div class="mini-line"></div>
      {{#each comicCon}}
        <li><a class="button cons-list" href="#popup{{this.id}}">{{this.name}}</a></li>
          <div id="popup{{this.id}}" class="overlay">
            <div class="popup">
              <a class="close" href="#"></a>
              <ul class="content">
                <li><span>Name:</span> {{this.name}}</li>
                <li><span>When:</span> {{this.date}}</li>
                <iframe src="{{this.location}}" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                <li><span>Where:</span>{{this.description}}</li>
                <li><a href="{{this.url}}">Visit their Website</a></li>
              </ul>
            </div>
          </div>
      {{/each}}
    </ul>

    <ul>
      <h3 class="ten-list-header">Game</h3>
      <div class="mini-line"></div>
      {{#each gameCon}}
        <li><a class="button cons-list" href="#popup{{this.id}}">{{this.name}}</a></li>
        <div id="popup{{this.id}}" class="overlay">
            <div class="popup">
              <a class="close" href="#"></a>
              <ul class="content">
                <li><span>Name:</span> {{this.name}}</li>
                <li><span>When:</span> {{this.date}}</li>
                <iframe src="{{this.location}}" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                <li><a href="{{this.url}}">Visit their Website</a></li>
              </ul>
            </div>
          </div>  
      {{/each}}
    </ul>
  </section>
</div>
</div>