<h1>Con-A-Thon</h1>
<a href='/users/signup'>Signup</a>
<a href='/users/login'>Login</a>
{{!-- need to add if logged in, display log out statement --}}
<a href='/users/logout'>Logout</a>

{{!-- displays top ten conventions on home --}}
<section class="ten">
  <p>
  <ul>
  {{#each animeCon}}
    <li>
      <a href="/conventions/show/{{this.id}}">{{this.name}}</a href="/conventions/show">
    </li>
  {{/each}}
  </ul>
  </p>

  <p>
  <ul>
  {{#each comicCon}}
    <li>
      <a href="/conventions/show/{{this.id}}">{{this.name}}</a href="/conventions/show">
    </li>
  {{/each}}
  </ul>
  </p>

  <p>
  <ul>
  {{#each gameCon}}
    <li>
      <a href="/conventions/show/{{this.id}}">{{this.name}}</a href="/conventions/show">
    </li>
  {{/each}}
  </ul>
  </p>
</section>
