<div class="displayed">
<header class="header-bg">
  <a href="/" class="conthon"><span><img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/6/67/Link.gif/revision/latest?cb=20090506153048" style="width: 50px;"></span>Con-A-Thon</a>
  <nav class="logs">
    <a href='/conventions' class="menu">Logout</a>
  </nav>
  <p class="about" style="width: 600px;">Maximize Your Geek by Planning Out Your Cons!</p>
</header>

<div class="ten-container">
<h1 class="ten-header">Profile</h1>
<div class="line"></div>
  <div class="my-con">
    <ul class="my-cons-list">
      <h3 class="ten-list-header">Cons To-Go-To</h3>
      <div class="mini-line"></div>
      {{#each con}}
        <li><a class="button cons-list" href="#popup{{this.id}}">{{this.name}}</a></li>

        <div id="popup{{this.id}}" class="overlay" style="background:none;">
          <div class="popup my-con-edit">
            <a href="#">&times;</a>
            <ul class="content">
              <li>{{this.name}}</li>
              <li>{{this.date}}</li>
              <li>{{this.location}}</li>
              <li><a href="{{this.url}}">Visit their Website</a></li>
            </ul>

            <form class="edit-form" action="/Conventions/{{this.id}}?_method=put" method="POST">
                <h4>Edit?</h4>
                <p>
                <label for="name">Name</label>
                <input type="text" name="name" class="input">
                <br/>
                <label for="date">Date</label>
                <input type="text" name="date" class="input">
                <br/>
                <label for="location">Location</label>
                <input type="text" name="location" class="input">
                <br/>
                <label for="url">URL</label>
                <input type="text" name="url" class="input">
              </p>
              <input type="submit" value="Update" class="buttons update">
            </form>

            <form action="/Conventions/{{this.id}}?_method=delete" method="POST">
              <input type="submit" value="Delete"  class="buttons delete">
            </form>

          </div>
        </div>
      {{/each}}

        <a href="#popup">Add A Con!</a>

    </ul>
  </div>

  <div id="popup" class="overlay">
    <div class="popup">
      <a class="close" href="index"></a>
        <h1>Add in Your Convention</h1>
        <form action="/Conventions" method="POST">
          <p>
            <label for="name">Name</label>
            <input type="text" name="name" class="input">
            <br/>
            <label for="date">Date</label>
            <input type="text" name="date" class="input">
            <br/>
            <label for="location">Location</label>
            <input type="text" name="location" class="input">
            <br/>
            <label for="url">URL</label>
            <input type="text" name="url" class="input">
          </p>
          <input type="submit" value="Create" class="buttons">
        </form>
    </div>
  </div>
</div>
</div>