<ul>
<li>{{this.name}}</li>
<li>{{this.date}}</li>
<li>{{this.location}}</li>
<li><a href="{{this.url}}">Their Website <3</a></li>
</ul>

<p class="fave">Add this Con to your Go List!</p>

<a href="/conventions/edit/{{id}}">Edit</a>